    html {
        font-size: 12px;
    }
    
    .header {
        background-image: radial-gradient(#192a56, #353b48);
        line-height: 3.3rem;
    }
    
    .logo {
        text-align: center;
        font-size: 1.9rem;
        font-family: McLaren;
        color: black;
        width: 30rem;
        margin: 0 auto;
    }
    
    .logo>p {
        color: whitesmoke;
        font-family: now;
    }
    
    .logo a {
        position: relative;
        top: 15px;
        background-color: white;
        color: black;
        text-decoration: none;
        padding: 10px;
        margin: 20 auto;
        border-top: 3px solid grey;
        border-bottom: 3px solid black;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    .logo>a:hover {
        border-top-left-radius: none;
        border-top-right-radius: none;
        color: gray;
        border-bottom: 3px solid black;
        border-top: 3px solid gray;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        letter-spacing: .2rem;
        transition-duration: 390ms;
        transition-timing-function: ease-in-out
    }
    
    main {
        height 100vh;
        background-color: #192a56;
    }
    
    section {
        height: 100vh;
        background-color: rgb(39, 41, 68);
        font-family: sans-serif;
    }
    
    .score {
        color: rgb(224, 224, 224);
        height: 20vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: McLaren;
        text-transform: uppercase;
    }
    
    .score h2 {
        font-size: 30px;
    }
    
    .psp {
        background-color: #44bd32;
        padding: 10px;
    }
    
    .csp {
        background-color: #e84118;
        padding: 10px;
    }
    
    .score p {
        text-align: center;
        padding: 10px;
        font-size: 25px;
    }
    
    .intro {
        color: rgb(224, 224, 224);
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: opacity 0.5s ease;
    }
    
    .intro h1 {
        font-size: 50px;
        font-family: now;
    }
    
    .intro button,
    .match button {
        width: 150px;
        height: 50px;
        background: none;
        border: none;
        color: rgb(224, 224, 224);
        font-size: 20px;
        background: rgb(45, 117, 96);
        border-radius: 3px;
        cursor: pointer;
        font-family: bangers;
    }
    
    .match {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.5s ease 0.5s;
    }
    
    .winner {
        color: rgb(224, 224, 224);
        text-align: center;
        font-size: 50px;
        font-family: now;
    }
    
    .hands,
    .options {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .player-hand {
        transform: rotateY(180deg);
    }
    
    div.fadeOut {
        opacity: 0;
        pointer-events: none;
        animation: killer2 5s linear both;
    }
    
    div.fadeIn {
        opacity: 1;
        pointer-events: all;
        animation: killer 580ms linear both;
    }
    
    @keyframes shakePlayer {
        0% {
            transform: rotateY(180deg) translateY(0px);
        }
        15% {
            transform: rotateY(180deg) translateY(-50px);
        }
        25% {
            transform: rotateY(180deg) translateY(0px);
        }
        35% {
            transform: rotateY(180deg) translateY(-50px);
        }
        50% {
            transform: rotateY(180deg) translateY(0px);
        }
        65% {
            transform: rotateY(180deg) translateY(-50px);
        }
        75% {
            transform: rotateY(180deg) translateY(0px);
        }
        85% {
            transform: rotateY(180deg) translateY(-50px);
        }
        100% {
            transform: rotateY(180deg) translateY(0px);
        }
    }
    
    @keyframes shakeComputer {
        0% {
            transform: translateY(0px);
        }
        15% {
            transform: translateY(-50px);
        }
        25% {
            transform: translateY(0px);
        }
        35% {
            transform: translateY(-50px);
        }
        50% {
            transform: translateY(0px);
        }
        65% {
            transform: translateY(-50px);
        }
        75% {
            transform: translateY(0px);
        }
        85% {
            transform: translateY(-50px);
        }
        100% {
            transform: translateY(0px);
        }
    }